.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class

db.sqlite3
media/

.env
.idea/
.vscode/

*.log

diploma-frontend/*.egg-info/
diploma-frontend/diploma_frontend.egg-info/
diploma-frontend/dist/diploma_frontend-0.6.tar.gz
